:root {
  font-family: "Cursive", "KaiTi_GB2312", "DFKai-SB", "FangSong",
    "FangSong_GB2312";
  /* To be overriden */
  font-size: 32px;
}
@media (max-width: 720px) {
  :root {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  :root {
    font-size: 22px;
  }
}
@media (max-width: 320px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 240px) {
  :root {
    font-size: 14px;
  }
}
body {
  /*Must be overriden*/
  background-color: black;
}

hr {
  width: 100%;
  display: inline-block;
}

header > h1 {
  padding-top: 12%;
  margin-left: 1%;
}

header {
  background-position: right top;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: contain;
  background-color: transparent;
}

ul.menu {
  text-align: left;
  list-style: none;
  display: inline;
  clear: both;
}

ul.menu > li {
  font-size: 1.3em;
  text-align: center;
  display: block;
  float: left;
  width: 10%;
}

ul.menu > li > a {
  text-decoration: none;
}

fieldset.top {
  vertical-align: bottom;
  border-style: ridge;
}

div.area {
  margin-bottom: 0.4em;
  clear: both;
}

p.info {
  margin: 0;
}

div.selectSet {
  clear: none;
  color: inherit;
  float: left;
  vertical-align: text-bottom;
}

select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

select#searchResults {
  overflow-y: auto;
}

input.buttonReplay {
  color: inherit;
  border-color: inherit;
  float: left;
  vertical-align: bottom;
}

a {
  color: inherit;
}

input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
}

input.wholeline {
  width: 100%;
  float: left;
}

input.textSearch {
  width: calc(100% - 5em);
  float: left;
}

input.buttonSearch {
  float: right;
}

select.search {
  color: inherit;
  width: 100%;
}

div.sideBar {
  border-style: groove;
}

video.video {
  margin-top: 0.6em;
  float: left;
  display: block;
}
iframe.video {
  border: 0;
  margin-top: 0.6em;
  float: left;
  display: none;
}
@media (min-aspect-ratio: 16/9) {
  div.sideBar {
    width: calc(20% - 6px);
    font-size: 0.9em;
    float: right;
  }
  video.video {
    width: 79%;
    height: 79%;
  }
  iframe.video {
    width: 76vw;
    height: 42.75vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  div.sideBar {
    width: fit-content;
    clear: both;
    float: left;
  }
  video.video {
    width: 100%;
    height: 100%;
  }
  iframe.video {
    width: 96vw;
    height: 54vw;
  }
}

.bottom.info {
  margin: auto;
  margin-top: initial;
  color: inherit;
  margin-bottom: 1em;
}

footer {
  color: inherit;
  vertical-align: bottom;
  text-align: center;
}

small.switch {
  font-size: 0.8em;
}

table {
  margin: auto;
  border-style: solid;
  border-width: 1px;
}

td {
  border-style: solid;
  border-width: 1px;
  padding: 0;
}
