hr {
  width: 100%;
  display: inline-block;
}

fieldset.top {
  vertical-align: bottom;
  border-style: ridge;
}

div.area {
  margin-bottom: 0.4em;
  clear: both;
}

p {
  text-indent: 2em;
}
p.sub {
  margin: 0;
  text-indent: 2em;
}
p.info {
  margin: 0;
  text-indent: 0;
}
div.selectSet {
  clear: none;
  color: inherit;
  float: left;
  vertical-align: bottom;
}

select.search {
  color: inherit;
  width: 100%;
}
select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
}

select#searchResults {
  overflow-y: auto;
}

a {
  color: inherit;
}

input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: var(--sub-sub-background-color);
}

input.wholeline {
  width: 100%;
  float: left;
}

fieldset.top > form > input.button {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
  float: left;
  padding: 0;
  vertical-align: bottom;
}

input.textSearch {
  width: calc(100% - 5em);
  float: left;
  background-color: inherit;
  color: inherit;
}

input.buttonSearch {
  float: right;
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

input.left {
  text-align: end;
  float: right;
}

div.sideBar {
  border-style: groove;
}

video.video {
  margin-top: 0.6em;
  float: left;
  display: block;
}
iframe.video {
  border: 0;
  margin-top: 0.6em;
  float: left;
  display: none;
}
@media (min-aspect-ratio: 16/9) {
  div.sideBar {
    width: calc(20% - 6px);
    font-size: 0.9em;
    float: right;
  }
  video.video {
    width: 79%;
    height: 79%;
  }
  iframe.video {
    width: 76vw;
    height: 42.75vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  div.sideBar {
    width: fit-content;
    clear: both;
    float: left;
  }
  video.video {
    width: 100%;
    height: 100%;
  }
  iframe.video {
    width: 96vw;
    height: 54vw;
  }
}

.bottom.info {
  margin: auto;
  margin-top: initial;
  color: inherit;
  margin-bottom: 1em;
}

.text.normal {
  overflow-wrap: break-word;
}
table > caption,
table > th,
table > td {
  text-align: center;
}
