fieldset.top {
    background-color: #302f27;
    color: #7a708a;
    border-color: #555555;
    scrollbar-color: dark;
}

body {
    background-color: #222025;
}

select {
    background-color: inherit;
    scrollbar-color: dark;
    scrollbar-arrow-color: #111111;
    -ms-scrollbar-arrow-color: #111111;
}

small.videoInfo {
    color: #65606a;
}

input.buttonReplay {
    background-color: inherit;
    border-color: inherit;
}

input.textSearch {
    background-color: inherit;
    color: inherit;
}

input.buttonSearch {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
}

select.search {
    background-color: inherit;
    scrollbar-color: dark;
}

div.externalLinks {
    background-color: #1a1424;
    border-color: #111111;
    color: #606f6a;
}

footer {
    color: #777777;
}