:root {
  --main-text-color: #70707a;
  --main-background-color: #212023;
  --main-border-color: #555555;
  --sub-text-color: #626460;
  --sub-background-color: #2e2b2c;
  --sub-border-color: #444444;
  --sub-sub-background-color: #1f1c24;
  --normal-text-color: #777777;
	--arrow-color: #111111;
  scrollbar-color: dark;
  scrollbar-arrow-color: var(--arrow-color);
  -ms-scrollbar-arrow-color: var(--arrow-color);
}

header {
  color: var(--main-text-color);
  filter: brightness(0.5);
}

header > h1,
header > div {
  filter: brightness(2);
}

hr {
  filter: brightness(0.5);
}

iframe {
  filter: brightness(0.8);
}

fieldset.top {
  color: var(--main-text-color);
  background-color: var(--sub-background-color);
  border-color: var(--main-border-color);
}

body {
  background-color: var(--main-background-color);
}

select {
  background-color: var(--sub-sub-background-color);
}

small.videoInfo {
  color: var(--sub-text-color);
}

div.sideBar,
textarea {
  background-color: var(--sub-background-color);
  border-color: var(--sub-border-color);
  color: var(--sub-text-color);
}

.text.normal {
  color: var(--normal-text-color);
}
