header {
    color: #384058;
}

fieldset.top {
    background-color: #f0efe7;
}

body {
    background-color: #fbf9ff;
}

small.videoInfo {
    color: rosybrown;
}

div.sideBar {
    background-color: #fbfffd;
    border-color: #999999;
    color: indigo;
}