:root {
  --main-text-color: #585048;
  --main-background-color: #fffaf8;
  --sub-text-color: rosybrown;
  --sub-background-color: #f0efe7;
  --sub-border-color: #999999;
  --sub-sub-background-color: #fffbfa;
  --normal-text-color: #200000;
}

header {
  color: var(--main-text-color);
  background-image: url("../pic/background/sakura-background.png");
}

fieldset.top {
  color: var(--main-text-color);
  background-color: var(--sub-background-color);
}

body {
  background-color: var(--main-background-color);
}

select {
  background-color: var(--sub-sub-background-color);
}

small.videoInfo {
  color: var(--sub-text-color);
}

div.sideBar,
textarea {
  background-color: var(--sub-background-color);
  border-color: var(--sub-border-color);
  color: var(--sub-text-color);
}

div.text.normal {
  color: var(--normal-text-color);
}
