header {
    color: #585048;
}

fieldset.top {
    background-color: #f0efe7;
}

body {
    background-color: #fffaf8;
}

small.videoInfo {
    color: rosybrown;
}

div.sideBar {
    background-color: #fffbfd;
    border-color: #999999;
    color: indigo;
}

div.bottom {
    color:#200000;
}