# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/

#  Due to GitHub's size constrict, ignore video files
/video/**/*.mp4
/video/**/*.mp4.*
!/video/**/teams/*.mp4

# Adobe Premiere project configure files and temporary files
*.prproj
*.tmp