.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# My hitory
history/

# My viedo local download
video/

# My bat file
*.bat

# My IIS website config
web.config
desktop.ini