# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/

#  Due to GitHub's size constricts ans transport needs, ignore video files
**/*.mp4

# Adobe Premiere project configure files and temporary files
*.prproj
*.tmp

#Windows configure
web.config
desktop.ini

# vscode configuration
.vscode/**

# folder copy
*.zip

# bat for quick push
*.bat
