body {
    /*Must be overriden*/
    background-color: black;
}

fieldset {
    vertical-align: bottom;
    border-style: ridge;
}

div.selectSet {
    color: inherit;
    float: left;
    vertical-align: text-bottom;
}

select {
    color: inherit;
}

input.buttonReplay {
    color: inherit;
    float: left;
    vertical-align: bottom;
}

a {
    color: inherit;
}

video {
    margin-top: 1.2em;
    width: 75%;
    height: 75%;
}

input.textSearch {
    width: calc(99% - 5em);
    float: left;
}

input.buttonSearch {
    float: right;
}

select.search {
    color: inherit;
    width: 100%;
}

div.externalLinks {
    border-style: groove;
    float: right;
    font-size: 90%;
    width: calc(24% - 6px);
}

footer {
    vertical-align: bottom;
    text-align: center;
}

table {
    border-style: solid;
    border-width: 1px;
}

td {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    margin: 0;
}