fieldset.top {
    background-color: #f0efe7;
    color: #384058;
}

body {
    background-color: #fcfaff;
}

small.videoInfo {
    color: rosybrown;
}

div.externalLinks {
    background-color: #fbfffd;
    border-color: #999999;
    color: indigo;
}